body {
    background-color: gray;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th, td {
    text-align: center;
}
th {
    background-color: gray;
    cursor: pointer;
    user-select: none;
}
#review {
    display: none;
}
.th-sort-asc, .th-sort-desc {
    background: rgba(0,0,0,0.1);
}
.th-sort-asc::after, .th-sort-desc::after {
    margin-left: 5px;
}
.th-sort-asc::after {
    content: "\25b4";
}
.th-sort-desc::after {
    content: "\25be";
}


#options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 10px;
}
#options div {
    margin-right: 100px;
}
input[type=radio] {
    margin-top: -1px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
label {
    font-size: 20px;
}

#dropdowns {
    display: flex;
    height: 25px;
    align-items: center;
}
select {
    margin-left: 10px;
    margin-right: 50px;
}
#jsl-start {
    margin-right: 10px;
}